{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}
Rooms
{%endblock%}

{%block body%}
<div class="row justify-content-center">
  <div class="col-12 col-sm-6 card p-2 shadow-lg my-5">
    <form action="{% url 'room_create' %}" method="post">
      {% csrf_token %}
      {{form|crispy}}
      <button class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
<div class="row justify-content-center">
      {%for room in object_list %}
      <div class="col-3">
        <div class="card shadow-lg bg-light p-2 m-2 ">
          <span class=" text-center">{{room.name}}</span>
          <a href="{% url 'room_detail' room.slug %}" class="btn btn-sm btn-primary">ir</a>
        </div>
      </div>
      {% endfor %}
</div>
{%endblock%}