{% if is_using_socket %}
{# se foi renderizada com socket adiciona o conteúdo dentro de uma div pois será removida após o render #}
	<div hx-swap-oob="beforeend:#id_lista_mensagens" hx-swap="outerHTML">
{% endif %}
<div class="message shadow" usuario="{{ message.user.pk }}">
	<strong>{{ message.user.username }}</strong>
	<br>
	<span>{{ message.content }}</span>
	<br>
	<small class="text-secondary">{{ message.date_added|date:"d/m/Y H:i:s" }}</small>
</div>
{% if is_using_socket %}
	</div>
{% endif %}