<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
	<a class="navbar-brand" href="#">Chat App</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
	        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			{% if request.user.is_authenticated %}
				<li class="nav-item">
					<small class="text-capitalize nav-link text-light">Olá, {{ request.user.nome }}!</small>
				</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'salas:sala_lista' %}">Salas</a>
			</li>
			{% if request.user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'sair' %}">Sair</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'usuarios:criar_conta' %}">Criar conta</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'entrar' %}">Entrar</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>